*{
    font-family: 'Inter', sans-serif;
}

.button-container{
    border-radius: 20px;
    border: black solid 3px;
    overflow: hidden;
    width: 400px;
    height: 250px;
    transition: width 0.5s;
    transition: height 0.5s;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s;
}

.link{
    border: black solid 2px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    width: 70%;
}

.join-msg{
    white-space: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

.find-match-msg{
    color: green;
}

.find-match-msg:hover{
    text-decoration: underline;
    color: darkgreen;
    cursor: default;
}

.cancel-msg{
    color: red;
}

.cancel-msg:hover{
    text-decoration: underline;
    color: darkred;
    cursor: default;
}

img{
    width: 35px;
    margin-left: 10px;
}

img:hover{
    background-color: gray;
}



.link-div{
    width: 100%;
    justify-content: center;
    display: flex;
}

.link-div:hover{
    
}