*{
    margin: 0;
    font-family: 'Inter';
}

.gone{
    display: none;
}

body{
    background-color: rgba(238, 236, 236, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#start-title{
    font-family: 'Inter', monospace;
    font-size: 50px;
    margin-bottom: 30px;
}

.start-button{
    border: black solid 1px;
}

.start-link-container{
    width: 400px;
    height: 200px;
}

#start-link-clipboard{
    border: none;
    background-color: rgba(238, 236, 236, 0);

}

#start-page{
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#front-page-disappear{
    transform: scale(2);
    opacity: 0;
}